body{
    height: 100vh;
    height: 100dvh;
    background-color: gray;
    align-content: center;
    justify-items: center;
}

.adminLoginCard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 1em;
    flex-direction: column;
    background-color: greenyellow;
    border-radius: 1em;
    min-block-size: 20em;
    width: 25em;
}



